{% extends 'base.html.twig' %}

{% block title %}Hello Liste des catégorie!{% endblock %}

{% block body %}

<div class="container">

    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Effacer produit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Veuillez confirmer l'effacement du produit</p>
                </div>
                <div class="modal-footer">
                    <a href="#" id="fermer">Annuler</a>
                    <a id="confirmer" class="btn btn-primary"
                        href="{{path('admin_deleteProduit',{'id':0})}}">Confirmer</a>
                </div>
            </div>
        </div>
    </div>




    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Editer</th>
            <th>Effacer</th>
        </tr>
        {% for produit in listeProduit %}
        <tr>
            <td><a href="{{path('admin_detailProduit',{'id':produit.id})}}">{{produit.name}}</a></td>
            <td>{{produit.price}}</td>
            <td><a href="{{path('admin_editProduit',{'id':produit.id})}}">
                    Editer Produit</a>
            </td>
            <td>
                <a href="#" id="{{produit.id}}">
                    Effacer Produit</a>
            </td>
        </tr>

        <br>

        {% endfor %}
    </table>

    <script>
        $(function () {

            //gestion click sur lien Effacer
            $('.table').on('click', function (event) {

                // populer la modale avec le lien d'effacement
                $('.modal').show()

                let id = $(event.target).attr('id')
                $('#confirmer').attr('href', '/admin/product/delete/' + id)


            })


            //cacher la modale
            $('#fermer').on('click', function (event) {
                $('.modal').hide()
            })


        })
    </script>
</div>
{% endblock %}