{% extends 'base.html.twig' %}

{% block title %}Hello Liste des catégorie!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="container">

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Category</th>
            <th>Editer</th>
            <th>Effacer</th>
        </tr>
        {% for category in listeCategory %}
        <tr>
            <td><a href="{{path('admin_categoryProduct',{'id':category.id})}}">{{category.name}}</a></td>
            <td>{{category.description}}</td>
            <td>{{category.slug}}</td>
            <td><a href="{{path('admin_editCategory',{'id':category.id})}}">
                    Editer catégorie</a>
            </td>
            <td>
                <a href="{{path('admin_deleteCategory',{'id':category.id})}}">
                    Effacer catégorie</a>
            </td>
        </tr>

        <br>

        {% endfor %}
    </table>


</div>
{% endblock %}