{% extends 'base.html.twig' %}

{% block title %}Page d'accueil du Site{% endblock %}

{% block body %}

<div class="container">

    <div class="row">


        {% for product in listeProduits %}

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/{{product.img}}" alt="{{product.name}}" width="500">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.price}}</p>
                    <a href="{{ path('vueProduit',{id:product.id,slug:product.slug})}}" class="btn btn-primary">Voir
                        détail</a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>


</div>
{% endblock %}